footer {
    background-color: #e8eaed;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

footer .footer__copyright {
    display: inline
}

@media(max-width: 767px) {
    footer .footer__copyright {
        display:none
    }
}

footer .footer__copyright-mobile {
    display: none
}

@media(max-width: 767px) {
    footer .footer__copyright-mobile {
        display:inline
    }
}

footer .hulu-footer {
    text-align: left;
    color: #586174
}

footer .footer--row {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(max-width: 767px) {
    footer .footer--row {
        display:block
    }
}

footer .footer--row-section {
    display: inline-block;
    margin: 0;
    padding: 0
}

@media(max-width: 767px) {
    footer .footer--row-section {
        padding-bottom:16px
    }
}

footer .footer--row-section a {
    display: block;
    padding-bottom: 8px
}

@media(max-width: 1023px) {
    footer .footer-section-container {
        padding-bottom:23px
    }
}

@media(max-width: 767px) {
    footer .footer-section-container {
        padding-bottom:0;
        border-bottom: 1px solid #d9dce2
    }
}

@media(max-width: 1023px) {
    footer .footer-section-container-single {
        padding-bottom:23px
    }
}

@media(max-width: 767px) {
    footer .footer-section-container-single {
        padding-bottom:0
    }
}

footer .footer--site-links {
    padding: 52px 0 86px
}

@media(max-width: 1279px) {
    footer .footer--site-links {
        padding:46px 0
    }
}

@media(max-width: 1023px) {
    footer .footer--site-links {
        padding:42px 0 0
    }
}

footer .footer-row-expandable {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(max-width: 767px) {
    footer .footer-row-expandable.footer-row-expanded {
        display:-webkit-flex;
        display: -moz-box;
        display: flex
    }

    footer .footer--section-expand,footer .footer-row-expandable.footer-row-collapsed {
        display: none
    }
}

footer .footer--section-expand-mobile {
    display: none
}

@media(max-width: 767px) {
    footer .footer--section-expand-mobile {
        display:block
    }
}

footer a {
    text-decoration: none
}

footer a,footer span {
    color: #586174
}

footer .footer--legal-links {
    border-top: 2px solid #d9dce2;
    padding: 32px 0 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

@media(max-width: 767px) {
    footer .footer--legal-links {
        border-top:none
    }
}

footer .footer--legal-links-left {
    margin: 0 42px 32px 0;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    white-space: nowrap
}

footer .footer--legal-links-left a,footer .footer--legal-links-left span {
    padding-right: 32px
}

footer .footer--legal-links-left a:last-child {
    padding-right: 0
}

footer .footer--legal-links-right {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-bottom: 32px
}

footer .footer--legal-links-right-col {
    margin-left: 32px;
    margin-right: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

footer .footer--legal-links-right-col:last-child {
    margin: 0
}

@media(max-width: 767px) {
    footer .footer--legal-links-right-col:nth-child(2) {
        margin:0
    }

    footer .footer--legal-links-right-col:last-child {
        margin-left: 32px
    }
}

footer .footer--legal-links-right-col .footer--legal-link img {
    padding-right: 4px
}

footer .footer--legal-link {
    display: inline-block
}

@media(max-width: 767px) {
    footer .footer__icon-plus-mobile {
        display:inline-block;
        vertical-align: middle;
        -webkit-transition: -webkit-transform .7s ease-in-out;
        transition: -webkit-transform .7s ease-in-out;
        -moz-transition: transform .7s ease-in-out,-moz-transform .7s ease-in-out;
        transition: transform .7s ease-in-out;
        transition: transform .7s ease-in-out,-webkit-transform .7s ease-in-out,-moz-transform .7s ease-in-out;
        float: right
    }

    footer .footer__icon-plus-mobile-open {
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        transform: scaleY(-1)
    }
}

footer h3 {
    line-height: 28px
}

@media(max-width: 767px) {
    footer h3 {
        cursor:pointer;
        padding: 32px 0;
        margin: 0
    }

    footer h3 .footer__icon-plus-mobile {
        font-size: 18px
    }
}

/*# sourceMappingURL=bf2b3fc483975f8f6e44.css.map*/
